
.mapCont{
    background-color: aliceblue;
    padding: 4px;
    border-radius: 2px;
}
.budget{
    background-color: orange;
    color: white;
    padding: 6px;
    margin-bottom: 4px;
    border-radius: 2px;
}
.budgetWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}