
.footer-cont{
    padding-top: 0;
    /* height: 10px; */
}
.footer-name{
    font-size: larger;
    font-weight: 500;
}
.footer-time-wrap{
    display: flex; 
    justify-content: space-around; 
    padding-bottom: 10px
}
.footer-btn-cont{
    position: fixed; 
    z-index: 100;
    /* top: 0; */
    left: 0; 
    right: 0;
    bottom: 0;
    background-color: rgba(100, 91, 91, 0.411);
    padding: 4px 2px;
    display: flex; 
    justify-content : space-between;
}
.footer-btn{
    padding: 8px;
    background: rgb(114, 8, 8);
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 300;
}