.groups{
    cursor: pointer;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    place-content: center;
    gap: 3px  
}
.grp-map-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 1px;
}
.grp-map-sub{
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 8px 0px;
    border-radius: 3px;
}
.grp-item-logo{
    border-radius: 50% ;
    background-color: aqua;
    padding:4px 8px;
    font-weight: 600;
}
.grp-item-name{
    padding:4px 0px;
    font-weight: 600;
    color: black;
    min-width: 150px;   
}
.grp-item-member{
    padding:4px 8px;
    font-weight: 600;
    color: black;
    min-width: 20px;   
}
.grp-item-request{
    padding:4px 8px;
    font-weight: 600;
    color: black;
    min-width: 40px;   
}
